{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="visually-hidden">Предыдущая</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">«</span>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} {# Показывать +/- 2 страницы от текущей #}
                <li class="page-item"><a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
            {% elif num == 1 or num == page_obj.paginator.num_pages %} {# Всегда показывать первую и последнюю #}
                {% if num == 1 and page_obj.number|add:'-3' > 1 %} <li class="page-item disabled"><span class="page-link">...</span></li> {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                {% if num == page_obj.paginator.num_pages and page_obj.number|add:'3' < page_obj.paginator.num_pages %} <li class="page-item disabled"><span class="page-link">...</span></li> {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="visually-hidden">Следующая</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">»</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}